{# 继承父模板 #}
{% extends 'common/base.html' %}
{% load staticfiles %}
{% load goods_filters %}
{# 头部js #}
{% block header_js %}
    <script>
        $(
            function () {
                function total_price() {
                    var unit_price = parseFloat($(".show_pirze em").html());
                    var counts = parseFloat($("#fruit_num").val());
                    var total = unit_price * counts;

                    return parseFloat(total.toFixed(2)) + ' 元';
                }

                $(".total em").html(total_price());
                $(".add").click(
                    function () {
                        fruit_num = $("#fruit_num");
                        var num = parseInt(fruit_num.val());
                        num += 1;
                        fruit_num.val(num);
                        $(".total em").html(total_price())
                    }
                );
                $(".minus").click(
                    function () {
                        fruit_num = $("#fruit_num");
                        var num = parseInt(fruit_num.val());
                        if (num > 1) {
                            num -= 1;
                        }
                        fruit_num.val(num);
                        $(".total em").html(total_price())
                    }
                );

                $.get('{% url 'carts:goods_num' %}', {}, function (data) {
                    $('#show_count').html(data.total);
                });


            }
        )

    </script>

{% endblock header_js %}

{% block body %}
    {# 上方用户状态条 #}
    {% include 'common/status.html' %}

     {# logo 搜索 购物车 #}
    {% include 'goods/goods_search_bar.html' %}

    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="{% url 'goods:list' cags.0.id 1 %}?show=default"
                           class="fruit">{{ cags.0.cag_name }}</a></li>
                    <li><a href="{% url 'goods:list' cags.1.id 1 %}?show=default"
                           class="seafood">{{ cags.1.cag_name }}</a></li>
                    <li><a href="{% url 'goods:list' cags.2.id 1 %}?show=default" class="meet">{{ cags.2.cag_name }}</a>
                    </li>
                    <li><a href="{% url 'goods:list' cags.3.id 1 %}?show=default" class="egg">{{ cags.3.cag_name }}</a>
                    </li>
                    <li><a href="{% url 'goods:list' cags.4.id 1 %}?show=default"
                           class="vegetables">{{ cags.4.cag_name }}</a></li>
                    <li><a href="{% url 'goods:list' cags.5.id 1 %}?show=default" class="ice">{{ cags.5.cag_name }}</a>
                    </li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">新鲜水果</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{% static goods.goods_image|create_goods_image_name %}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.goods_name }}</h3>
            <p>{{ goods.goods_short }}</p>
            <input type="hidden" value="{{ goods.id }}" id="goods_id">
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
                <span class="show_unit">单  位：{{ goods.goods_unit }}</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" id="fruit_num" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<em>16.80元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        {% for goods in goods_new %}
                            <a href="{% url 'goods:detail' %}?id={{ goods.id }}"><img
                                    src="{% static goods.goods_image|create_goods_image_name %}"></a>
                            <h4><a href="{% url 'goods:detail' %}?id={{ goods.id }}">{{ goods.goods_name }}</a></h4>
                            <div class="prize">￥{{ goods.goods_price }}</div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{ goods.goods_desc }}
                    </dd>
                </dl>
            </div>

        </div>
    </div>
{% endblock body %}

{% block footer_js %}
    <script type="text/javascript">

        $('#add_cart').click(function () {
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;

            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;

            $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});

            $(".add_jump").stop().animate({
                    'left': $to_y + 7,
                    'top': $to_x + 7
                },
                "fast", function () {
                    $(".add_jump").fadeOut('fast', function () {
                        // $('#show_count').html(2);
                        ;
                    });

                });

            var goods_id = $("#goods_id").val();
            var goods_num = $("#fruit_num").val();

            $.get('{% url 'carts:add_goods' %}', {'goods_id': goods_id, 'goods_num': goods_num}, function (data) {
                $('#show_count').html(data.total);
            })

        })
    </script>
{% endblock footer_js %}