{# 继承父模板 #}
{% extends 'common/base.html' %}
{% load staticfiles %}
{% load goods_filters %}
{% block header_css %}
    <style>
{#        #container {#}
{#            height: 400px;#}
{#            width: 600px;#}
{#            margin: 100px 100px;#}
{#        }#}
    </style>
{% endblock header_css %}
{% block body %}
    <span style="display: none" id="cags_list">{{ cags_list }}</span>
    <span id="top5_fruit" style="display: none">{{ visit_list }}</span>
    <div id="container">


    </div>
{% endblock body %}
{# 网底部的JS部分 #}
{% block footer_js %}
    <script>
            $(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '商品访问量'
        },
        subtitle: {
            text: '数据来源: mysql数据库'
        },
        xAxis: {
            categories: ['第一名','第二名','第三名','第四名','第五名'],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '访问量 (次)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.f} 次</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '新鲜水果',
            data: eval($('#top5_fruit').html())[0]
        }, {
            name: '海鲜水产',
            data:  eval($('#top5_fruit').html())[1]
        }, {
            name: '猪牛羊肉',
            data:  eval($('#top5_fruit').html())[2]
        }, {
            name: '禽类单品',
            data:  eval($('#top5_fruit').html())[3]
        },{
            name: '新鲜蔬菜',
            data: eval($('#top5_fruit').html())[4]
        },{
            name: '速冻食品',
            data: eval($('#top5_fruit').html())[5]
        }
        ]
    });
});


    </script>
{% endblock footer_js %}