{% load staticfiles %}
<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
    <form method="get" action="/search/">
        <div class="search_con fl">
            <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" value="搜索">
        </div>
    </form>
    <div class="guest_cart fr">
        <a href="{% url 'carts:carts' %}" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count"></div>
    </div>
</div>