{# 继承父模板 #}
{% extends 'common/base.html' %}
{% load staticfiles %}
{% load goods_filters %}
{% block body %}
    {# 上方用户状态条 #}
    {% include 'common/status.html' %}
    {# logo 搜索 购物车 #}
    {% include 'goods/goods_search_bar.html' %}

    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'goods:goods_chart' %}">热门商品</a></li>
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            <li><a href="{% url 'goods:list' cags.0.id 1 %}?show=default" class="fruit">{{ cags.0.cag_name }}</a></li>
            <li><a href="{% url 'goods:list' cags.1.id 1 %}?show=default" class="seafood">{{ cags.1.cag_name }}</a></li>
            <li><a href="{% url 'goods:list' cags.2.id 1 %}?show=default" class="meet">{{ cags.2.cag_name }}</a></li>
            <li><a href="{% url 'goods:list' cags.3.id 1 %}?show=default" class="egg">{{ cags.3.cag_name }}</a></li>
            <li><a href="{% url 'goods:list' cags.4.id 1 %}?show=default" class="vegetables">{{ cags.4.cag_name }}</a>
            </li>
            <li><a href="{% url 'goods:list' cags.5.id 1 %}?show=default" class="ice">{{ cags.5.cag_name }}</a></li>
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><img src="{% static 'images/slide/slide01.jpg' %}" alt="幻灯片"></li>
                <li><img src="{% static 'images/slide/slide02.jpg' %}" alt="幻灯片"></li>
                <li><img src="{% static 'images/slide/slide03.jpg' %}" alt="幻灯片"></li>
                <li><img src="{% static 'images/slide/slide04.jpg' %}" alt="幻灯片"></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="{% static 'images/adv/adv01.jpg' %}"></a>
            <a href="#"><img src="{% static 'images/adv/adv02.jpg' %}"></a>
        </div>
    </div>

    {% for cag in cags %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">{{ cag.cag_name }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {# 显示热门的商品 #}
                    {% for goods in cag.hot %}
                        <a href="{% url 'goods:detail' %}?id={{ goods.id }}">{{ goods.goods_name }}</a>
                    {% endfor %}
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{% static cag.cag_image|create_banner_image_name %}"></div>
                <ul class="goods_list fl">
                    {% for goods in cag.new %}
                        <li>
                            <h4><a href="{% url 'goods:detail' %}?id={{ goods.id }}">{{ goods.goods_name }}</a></h4>
                            <a href="{% url 'goods:detail' %}?id={{ goods.id }}"><img
                                    src="{% static goods.goods_image|create_goods_image_name %}"></a>
                            <div class="prize">¥ {{ goods.goods_price }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock body %}
{# 网底部的JS部分 #}
{% block footer_js %}

    <script type="text/javascript">
        $.get('{% url 'carts:goods_num' %}', {}, function (data) {
            $('#show_count').html(data.total);
        });
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if (hasorder) {
            oShownum.innerHTML = '2';
        }

        oFruit.onclick = function () {
            window.location.href = 'list.html';
        };


    </script>
{% endblock footer_js %}