{# 继承父模板 #}
{% extends 'common/base.html' %}
{% load staticfiles %}
{% load goods_filters %}

{% block header_js %}
    <script>

        $(
            //js ready
            function () {

                function update_total_price() {
                    total_money = 0;
                    total_nums = 0;
                    $('.cart_list_td').each(function () {
                        if ($(this).find(".goods_choice").prop('checked')) {
                            nums = parseInt($(this).find('.num_show').val());
                            money = parseFloat($(this).find('.col07').html());
                            total_nums += nums;
                            total_money += money;
                        }
                    });
                    $('.settlements .col03').find('em').html(total_money.toFixed(2));
                    $('.settlements .col03').find('b').html(total_nums);
                    $('.total_count em').html(total_nums)
                }

                function update_cart_infomation(obj) {
                    //更新购物车单样商品小计价格
                    obj.find('.col07').html(((parseFloat(obj.find('.col05').html()) * parseInt(obj.find('.num_show').val())).toFixed(2) + '元'));
                    //更新总价格
                    update_total_price()
                }


                //点击数量加时间
                $(".add").click(
                    function () {
                        row_dady = $(this).parents('.cart_list_td');
                        goods_num_input = row_dady.find('.num_show');
                        single_num = parseInt(goods_num_input.val()) + 1;
                        goods_num_input.val(single_num);
                        update_db_goods_num($(this))
                    }
                );

                //点击数量减事件
                $(".minus").click(
                    function () {
                        row_dady = $(this).parents('.cart_list_td');
                        goods_num_input = row_dady.find('.num_show');
                        single_num = parseInt(goods_num_input.val());
                        if (single_num > 1) {
                            single_num -= 1;
                        }
                        goods_num_input.val(single_num);
                        update_cart_infomation(row_dady);
                        update_db_goods_num($(this))
                    }
                );

                //输入商品数字时 更新购物车信息
                $('.num_show').change(function () {
                    row_dady = $(this).parents('.cart_list_td');
                    update_cart_infomation(row_dady);
                    update_db_goods_num($(this))
                });

                //商品前的多选框
                $('.goods_choice').change(
                    function () {
                        row_dady = $(this).parents('.cart_list_td');
                        update_cart_infomation(row_dady);
                    }
                );

                //商品全选框点击事件
                $('.settlements input:checkbox').click(
                    function () {
                        if ($(this).prop('checked')) {
                            $('.cart_list_td input:checkbox').prop('checked', true);
                        } else {
                            $('.cart_list_td input:checkbox').prop('checked', false);
                        }
                        update_total_price()
                    }
                );

                //删除商品按钮
                $(".cart_list_td .col08").click(
                    function () {
                        if (confirm('确认删掉本条记录吗？')) {
                            $(this).parents('.cart_list_td').remove();
                            remove_db_goods_from_cart($(this));
                            update_total_price();
                        }
                    }
                );

                //ajax更新后端商品数量
                function update_db_goods_num(obj) {
                    //ajax发送到后端的请求
                    goods_id = $(obj).parents('.cart_list_td').find('.col01 input:checkbox').prop('id');
                    goods_num = $(obj).parents('.cart_list_td').find('.num_show').val();
                    $.ajax(
                        {
                            'url': '{% url 'carts:edit_goods_num' %}',
                            'data': {
                                'goods_id': goods_id,
                                'goods_num': goods_num
                            },
                            'type': 'get',
                            'async': false,
                            'success': function (data) {
                                if (data.ret != 0) {
                                    //更新商品信息
                                    update_cart_infomation(obj.parents('.cart_list_td'));
                                }
                            }
                        }
                    )
                }


                //ajax更新后端商品数量
                function remove_db_goods_from_cart(obj) {
                    //ajax发送到后端的请求
                    goods_id = $(obj).parents('.cart_list_td').find('.col01 input:checkbox').prop('id');
                    $.ajax(
                        {
                            'url': '{% url 'carts:remove_goods' %}',
                            'data': {'goods_id': goods_id},
                            'type': 'get',
                            'async': false,
                            'success': function (data) {

                                //更新商品信息
                                update_cart_infomation(obj.parents('.cart_list_td'));
                            }
                        }
                    )
                }

                //提交表单
                $('.settlements .col04').click(
                    function () {
                        flag = false;//假设用户没有选中
                        $('.cart_list_td input:checkbox').each(
                            function () {
                                if($(this).prop('checked')){
                                    flag = true;
                                    return false;//相当于break 退出循环
                                }
                            }
                        );
                        if(flag){
                            $('#order').submit();
                        }else{
                            alert('您尚未选中任何商品');
                        }

                })
            }
        );
    </script>
{% endblock header_js %}

{% block body %}
    <body>
    {# 上方用户状态条 #}
    {% include 'common/status.html' %}

    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
        <div class="search_con fr">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>

    <div class="total_count">全部商品<em>{{ carts.total }}</em>件</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
        <li class="col06">操作</li>
    </ul>
    <form id="order" action="{% url 'order:place_order' %}" method="post">
    {% csrf_token %}
    {% for cart in carts %}
        <ul class="cart_list_td clearfix">
            <li class="col01"><input type="checkbox" class="goods_choice" id="{{ cart.cart_goods_id }}" value="{{ cart.cart_goods_id }}" name="goods_id" checked>
            </li>
            <li class="col02"><img src="{% static cart.cart_goods.goods_image|create_goods_image_name %}"></li>
            <li class="col03">{{ cart.cart_goods.goods_name }}<br><em>{{ cart.cart_goods.goods_price }}元/{{ cart.cart_goods.goods_unit }}</em>
            </li>
            <li class="col04">{{ cart.cart_goods.goods_unit }}</li>
            <li class="col05">{{ cart.cart_goods.goods_price }}元</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" class="add fl">+</a>
                    <input type="text" class="num_show fl" value="{{ cart.cart_amount }}">
                    <a href="javascript:;" class="minus fl">-</a>
                </div>
            </li>
            <li class="col07">{{ cart.single_total }}元</li>
            <li class="col08"><a href="javascript:;">删除</a></li>
        </ul>
    {% endfor %}



    <ul class="settlements">
        <li class="col01"><input type="checkbox" name="" checked=""></li>
        <li class="col02">全选</li>
        <li class="col03">合计(不含运费)：<span>¥</span><em>{{ carts.money }}</em><br>共计<b>{{ carts.total }}</b>件商品</li>
        <li class="col04"><a href="javascript:;">去结算</a></li>
    </ul>
     </form>
{% endblock body %}