{% extends 'common/base.html' %}
{% load staticfiles %}
{% load goods_filters %}
{% block body %}
    {# 上方用户状态条 #}
    {% include 'common/status.html' %}

    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
        <form method="get" action="/search/">
            <div class="search_con fr">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" value="搜索">
            </div>
        </form>
    </div>

    <div class="main_con clearfix">
        {# 左侧菜单 #}
        {% include 'users/common_left_menu.html' with flag='order' %}
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>

            {% for order in my_orders %}
                <ul class="order_list_th w978 clearfix">
                    <li class="col01">{{ order.update_time }}</li>
                    <li class="col02">订单号：{{ order.order_number }}</li>
                    <li class="col02 stress">
                        {% if order.order_status == 1 %}
                            待支付
                        {% elif order.order_status == 2 %}
                            待发货
                        {% elif order.order_status == 3 %}
                            待收货
                        {% elif order.order_status == 4 %}
                            已完成
                        {% endif %}
                    </li>
                </ul>

                <table class="order_list_table w980">
                    <tbody>
                    <tr>
                        <td width="55%">
                            {% for goods in order.orderdetail_set.all %}
                                <ul class="order_goods_list clearfix">
                                    <li class="col01"><img src="{% static goods.detail_img|create_goods_image_name %}">
                                    </li>
                                    <li class="col02">{{ goods.detail_name }}<em>{{ goods.detail_price }}元/{{ goods.detail_unit }}</em>
                                    </li>
                                    <li class="col03">{{ goods.detail_amount }}</li>
                                    <li class="col04">{{ goods.detail_price }}元</li>
                                </ul>
                            {% endfor %}
                        </td>
                        <td width="15%">{{ order.total }}元</td>
                        <td width="15%">
                            {% if order.order_status == 1 %}
                                待支付
                            {% elif order.order_status == 2 %}
                                待发货
                            {% elif order.order_status == 3 %}
                                待收货
                            {% elif order.order_status == 4 %}
                                已完成
                            {% endif %}
                        </td>
                        <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}


            <div class="pagenation">
                {% if my_orders.has_previous %}
                    <a href="?page={{ my_orders.previous_page_number }}">
                        &lt;上一页
                    </a>
                {% endif %}
                {% for index in paginator.page_range %}
                    <a href="?page={{ index }}"
                       {% if index == my_orders.number %}class="active"{% endif %}>{{ index }}</a>
                {% endfor %}
                {% if my_orders.has_next %}
                    <a href="?page={{ my_orders.next_page_number }}">下一页&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
